
.portfolio_form {
  height: fit-content;
  padding: 5px;

}

.portfolio_add_form{
  border-radius: 12px;
  background-color: #ebe4eb;
  width:164px;
  text-align: center;
  float: right;
}
.portfolio_add_form button{
  border: none;
   background-color: inherit;
   color: inherit;
   font-size: 22px;
   padding: 8px;

}
.portfolio_form_div{
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 8px;
}
.portfolio_add_form:hover
, .portfolio_add_form button:hover
,  .add_form_icon:hover {
  cursor: pointer;
  color: black;
}

.portfolio_form_div input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  height: auto;
  width: 100%;
  background-color: #ebe4eb;
  color: #0b0b0b;
  margin-bottom: 20px;
  padding: 12px;
}
.portfolio_form_div button{
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  width: 100%;
}


  
  